
proy_final
Diagrama_Gantt.xlsx
data/df_modelo.csv
data/df_restaurante_review.csv
data/df_sin_palabras.csv
README.md
streamlit/prueba_api.py
main.py
jupiter/prueba.ipynb
data/muestra.parquet
main.py
streamlit/prueba_app.py
jupiter/Sistema_Recomendacion_Cami.ipynb
streamlit/api_funcionando.py
streamlit/api_modificada.py