proy_final
data/df_modelo.csv
data/df_restaurante_review.csv
data/df_sin_palabras.csv
main.py
jupiter/prueba.ipynb
data/muestra.parquet
streamlit/
__pycache__/
data/df_restaurante_review.csv
data/df_sin_palabras.csv