
proy_final
Diagrama_Gantt.xlsx
data/df_modelo.csv
data/df_restaurante_review.csv
data/df_sin_palabras.csv
README.md
streamlit/prueba_api.py
main.py
jupiter/prueba.ipynb
data/muestra.parquet
images/Chart Talk logo template.Financial growth talk logo .png
main.py